<% include ../partials/header %>
<br><br>
<div class="container">
    <div class="row card">
        <div class="col-md-10">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= blog.image %>">
                <div class="caption-full">
                    <h2><a><%=blog.name%></a></h2>
                    <p><%= blog.description %></p>
                    <p>
                        <strong><em>Submitted By <%= blog.author.username %></em></strong>
                    </p>
                    <% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
                        <a href="/blogs/<%= blog._id %>/edit"><button class="btn btn-outline-primary " type="submit">Edit</button></a>
                        <form id="delete-form" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-outline-primary">Delete</button>
                        </form>
                    <% }%>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a href="/blogs/<%= blog._id %>/comments/new"><button class="btn btn-outline-primary " type="submit">Add New Comment</button></a>
                </div>
                <hr>
                <h5>Comments</h5><hr>
                <% blog.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <p>
                                <%= comment.text %> 
                            </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a href="/blogs/<%=blog._id %>/comments/<%=comment._id %>/edit"><button class="btn btn-outline-primary " type="submit">Edit</button></a>
                            <form id="delete-form" action="/blogs/<%=blog._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-outline-primary" value="Delete">
                            </form>
                        <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>